@import "tailwindcss";

@theme inline {
  --font-open-sans: var(--font-open-sans);

  /* Cores principais */
  --color-primary: #ff2929;
  --color-primary-dark: #840909;

  /* Cores secundárias */
  --color-secondary: #7c3aed;
  --color-secondary-light: #a78bfa;
  --color-secondary-dark: #5b21b6;

  --color-background-primary: #090b0d;
  --color-border-primary: #131519;
}
